apiVersion: v1
kind: Service
metadata:
  name: demoapp
  labels:
    app: demoapp
spec:
  type: {{ .Values.service.type }}
  selector:
    app: demoapp
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: http
